<h1>Sign in</h1>
<% form_tag do %>
<p>
  <label for="email">Email:</label>
  <%= text_field_tag :email, params[:email] %>
</p>

<p>
  <label for="password">Password:</label>
  <%= password_field_tag :password, params[:password] %>
</p>

<p>
  <%= submit_tag "Sign in" %>
</p>

<p>
  <%= link_to 'Create a new user', signup_path %>
</p>
<% end %>
