<div id="footer" class="round">

        <div style="float: left; width: 483px;">

            <div style="clear: left; font-size: 0.9em; padding-left: 10px;"> Copyright Y blog. All Rights reserved. </div>

        </div>

        <div style="float: left; width: 235px; height: 78px;"></div>

        <div style="float: left; width: 219px;">

            <div style="float: left; width: 55px; text-align: right;"></div>

            <div style="float: right; width: 156px; text-align: right;"><a href="" class="wFooterNav">Privacy</a></div>

        </div>

    </div>
